[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
databases = "*"
asyncpg = "*"
python-dotenv = "*"
sqlalchemy = "*"
pydantic-settings = "*"
psycopg2 = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
bcrypt = "==4.0.1"
httpx = "*"

[dev-packages]
pytest = "*"
pylint = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
